*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Body Style */

body{
    background-color: lightskyblue;
    color: maroon;
    margin: 0;
    font-family: sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;
}

section{
    padding: 5em 2em;
}
/* Headlines */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1{
    font-size: 4.5 rem;
}

h2{
    font-size: 3.75rem;
}

h3{
    font-size: 1.5rem;
}

.section__title{
    margin-bottom: .25em;
}

.section__title--intro{
    font-weight: lighter;
    margin-top: 50%;
}

.section__subtitle{
    margin: 0;
    font-size: 1.5rem;
}

.section__subtitle--intro,
.section__subtitle--about{
    background-color: maroon;
    padding: .25em 1em;
    font-family: monospace;
    color: lightskyblue;
    margin-bottom: 1em;
    font-size: 14px;
}

strong{
    font-weight: bold;
    font-size: xx-large;
}

.section__title--intro strong{
    display: block;
}

/* Intro Section */

.intro{
    position: relative;
}

@media (min-width: 600px) {
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }   

    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25);
    }

    .section__subtitle--intro{
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* My Services */

.my__services{
    background-color: lightskyblue;
    background-size: cover;
    color: maroon;
    text-align: center;
}

.section__title--services{
    color: maroon;
    position: relative;
}

.section__title--services::after{
    content: '';
    display: block;
    width: 10%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.75;
}

.service{
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services{
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service{
        margin-left: 2em;
    }
}

.about__me{
    background: lightskyblue;
}